@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
 
    width: auto;
    height: 8px; 
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgb(156, 163, 175, 0.4);
    border-radius: 4px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }